{{ define "main" }}
<h1 class="text-3xl mb-2 dark:text-white dark:text-opacity-80">{{ .Title }}</h1>
<div class="relative dark:text-white dark:text-opacity-80">
    <div class="top-0 -right-60 absolute h-full hidden xl:block">
        <div class="py-4 pr-4 w-56 sticky top-0 bg-black bg-opacity-10">
            {{ .TableOfContents }}
        </div>
    </div>
    <div id="content">
        {{ .Content }}
    </div>
</div>
{{ if .Site.Params.gitalk }}
<div id="gitalk-container" class="dark:text-white dark:text-opacity-80"></div>
<script type="text/javascript">
    const gitalk = new Gitalk({
        id: "{{.Title}}",
        title: "{{.Title}}",
        clientID: "{{ .Site.Params.gitalk_clientID }}",
        clientSecret: "{{ .Site.Params.gitalk_clientSecret }}",
        repo: "{{ .Site.Params.gitalk_repo }}",
        owner: "{{ .Site.Params.gitalk_owner }}",
        admin: {{ .Site.Params.gitalk_admin }},
        // facebook-like distraction free mode
        distractionFreeMode: true
    })
    gitalk.render('gitalk-container')
</script>
{{ end }}
{{ end }}