#content ul{
    list-style-position: inside;
    list-style-type: disc;
}
#content ol{
    list-style-position: inside;
    list-style-type: decimal;
}
#content li > *{
    display: inline;
}
#content ul > li{
    margin-left: 1em;
}

#content blockquote p:first-child{
    margin-top: 0.5em;
}

#content blockquote p:last-child{
    margin-bottom: 0.5em;
}

#content blockquote p{
    margin-left: 2em;
    padding-left: 0.75em;
    border-left: 3px solid #ccc;
    background-color: rgba(0, 0, 0, 0.05);
}
